unifi-litas-esis-parent/unifi-litas-esis-gateway-app/src/main/resources/wsdl/schema/lba-unifi-services-faults-V01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="urn:lt:lba:xmlns:unifi:services:foundation:faults:V01" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:lt:lba:xmlns:unifi:services:foundation:faults:V01">

    <element name="SecurityAssertionFailedFault" type="tns:TransportFaultType"></element>

    <element name="ServiceTemporarilyUnavailableFault" type="tns:TransportFaultType"></element>

    <complexType name="TransportFaultType">
    	<sequence>
    		<element name="message" type="string" minOccurs="0"></element>
    	</sequence>
    	<attribute name="supportId" type="string" use="optional"></attribute>
    </complexType>
</schema>