unifi-litas-esis-parent/unifi-litas-esis-gateway-app/src/main/resources/wsdl/lba-unifi-PaymentsInitiation-Bank-V01.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:lt:lba:xmlns:unifi:services:PaymentsInitiation:V01"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="PaymentsInitiationV01"
	targetNamespace="urn:lt:lba:xmlns:unifi:services:PaymentsInitiation:V01"
	xmlns:pain001="http://www.lba.lt/xmlns/2011/01/unifi/CustomerCreditTransferInitiation/V03"
	xmlns:pain002="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
	xmlns:pain007="http://www.lba.lt/xmlns/2011/01/unifi/CustomerPaymentReversal/V02"
	xmlns:pain008="http://www.lba.lt/xmlns/2011/01/unifi/CustomerDirectDebitInitiation/V02"
	xmlns:fault="urn:lt:lba:xmlns:unifi:services:foundation:faults:V01"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>Version: 1.3.0</wsdl:documentation>

	<wsdl:import namespace="urn:lt:lba:xmlns:unifi:services:PaymentsInitiation:V01"
		location="lba-unifi-PaymentsInitiation-Policy-V01.wsdl"></wsdl:import>

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import
				namespace="http://www.lba.lt/xmlns/2011/01/unifi/CustomerCreditTransferInitiation/V03"
				schemaLocation="schema/lba-unifi-pain.001.001.03.xsd">
			</xsd:import>
			<xsd:import
				namespace="http://www.lba.lt/xmlns/2011/01/unifi/CustomerPaymentReversal/V02"
				schemaLocation="schema/lba-unifi-pain.007.001.02.xsd">
			</xsd:import>
			<xsd:import
				namespace="http://www.lba.lt/xmlns/2011/01/unifi/CustomerDirectDebitInitiation/V02"
				schemaLocation="schema/lba-unifi-pain.008.001.02.xsd">
			</xsd:import>
			<xsd:import namespace="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
				schemaLocation="schema/pain.002.001.03.xsd">
			</xsd:import>
			<xsd:import schemaLocation="schema/lba-unifi-services-faults-V01.xsd"
				namespace="urn:lt:lba:xmlns:unifi:services:foundation:faults:V01"></xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CustomerCreditTransferInitiationV03Request">
		<wsdl:part name="document" element="pain001:SignableDocument" />
	</wsdl:message>

	<wsdl:message name="CustomerPaymentReversalV02Request">
		<wsdl:part name="document" element="pain007:SignableDocument">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="CustomerDirectDebitInitiationV02Request">
		<wsdl:part name="document" element="pain008:SignableDocument"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="CustomerPaymentStatusReportV03">
		<wsdl:part name="document" element="pain002:Document"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="SecurityAssertionFailedFault">
		<wsdl:documentation>This fault is to be used when any of the security policies implied on the opperation is failed to match during assertion.</wsdl:documentation>
		<wsdl:part name="message" element="fault:SecurityAssertionFailedFault">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ServiceIsTemporallyUnavailableFault">
		<wsdl:documentation>This fault is to be used for any transport/technical problem that might occure upon recieving of the messag</wsdl:documentation>
		<wsdl:part name="message" element="fault:ServiceTemporarilyUnavailableFault">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PaymentsInitiationV01">
		<wsdl:operation name="CustomerCreditTransferInitiationV03">
			<wsdl:input message="tns:CustomerCreditTransferInitiationV03Request"/>
			<wsdl:output message="tns:CustomerPaymentStatusReportV03">
			</wsdl:output>
			<wsdl:fault name="fault01" message="tns:SecurityAssertionFailedFault"></wsdl:fault>
			<wsdl:fault name="fault02" message="tns:ServiceIsTemporallyUnavailableFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CustomerPaymentReversalV02">
			<wsdl:input message="tns:CustomerPaymentReversalV02Request"></wsdl:input>
			<wsdl:output message="tns:CustomerPaymentStatusReportV03">
			</wsdl:output>
			<wsdl:fault name="fault01" message="tns:SecurityAssertionFailedFault"></wsdl:fault>
			<wsdl:fault name="fault02" message="tns:ServiceIsTemporallyUnavailableFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CustomerDirectDebitInitiationV02">
			<wsdl:input message="tns:CustomerDirectDebitInitiationV02Request"></wsdl:input>
			<wsdl:output message="tns:CustomerPaymentStatusReportV03">
			</wsdl:output>
			<wsdl:fault name="fault01" message="tns:SecurityAssertionFailedFault"></wsdl:fault>
			<wsdl:fault name="fault02" message="tns:ServiceIsTemporallyUnavailableFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PaymentsInitiationV01SOAPBinding"
		type="tns:PaymentsInitiationV01">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CustomerCreditTransferInitiationV03">
			<soap:operation
				soapAction="urn:lt:lba:xmlns:unifi:services:PaymentsInitiation:V01/PaymentsInitiationV01/CustomerCreditTransferInitiationV03Request" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CustomerPaymentReversalV02">
			<soap:operation
				soapAction="urn:lt:lba:xmlns:unifi:services:PaymentsInitiation:V01/PaymentsInitiationV01/CustomerPaymentReversalV02Request" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CustomerDirectDebitInitiationV02">
			<soap:operation
				soapAction="urn:lt:lba:xmlns:unifi:services:PaymentsInitiation:V01/PaymentsInitiationV01/CustomerDirectDebitInitiationV02Request" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PaymentsInitiationV01">
		<wsdl:port binding="tns:PaymentsInitiationV01SOAPBinding"
			name="PaymentsInitiationV01SOAP">
			<soap:address location="http://xxx.xxx.xxx.xx:xxx/services/PaymentsInitiationV01SOAP" />
			<wsp:PolicyReference xmlns:wsp="http://www.w3.org/ns/ws-policy"
				URI="#AddressingAnonymous" />
			<wsp:PolicyReference xmlns:wsp="http://www.w3.org/ns/ws-policy"
				URI="#SignAndEncrypt" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
